Here is your {{ gift_card.balance | money_without_trailing_zeros }} {{ shop.name }} gift card: {{gift_card.url}}.
<br>
<br>Happy shopping!
{% if gift_card.expires_on %} This gift card expires on {{ gift_card.expires_on }} {% endif %}