Hi{% unless order.customer.first_name == blank %} {{ order.customer.first_name }}{% endunless %}, thanks for your purchase of {{ order.total_price | money }} from {{shop.name}}! {% if order.requires_shipping %}{% case delivery_method %}{% when 'pick-up' %}We'll notify you when your order is ready for pickup.{% when 'local' %}We’re getting your order ready for delivery.{% else %}We'll notify you when it ships.{% endcase %}{% endif %} {% if order.order_status_url %}View order ({{ order.name }}): {{ order.order_status_url }}{% endif %}
{% if delivery_instructions != blank  %}Delivery Information: {{delivery_instructions}}{% endif %}

Text {{ 'stop' | upcase }} to unsubscribe.
