The tracking number for your order from {{ shop.name }} has been updated. {% if fulfillment.tracking_number -%}
{% if fulfillment.tracking_company and fulfillment.tracking_company != 'Other' -%}
    New {{ fulfillment.tracking_company }} tracking number: {{ fulfillment.tracking_number -}}
{%- else if order.order_status_url -%}
    View order ({{ order.name }}): {{ order.order_status_url -}}
{%- endif -%}
{%- endif -%}
